@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9ece0;
  --foreground: #0c324d;
  --primary: #0c324d;
  --secondary: #ffffff;

  --primary-accent: #153f5d;
  --foreground-accent: #454545;
  --hero-background: #f9ece0;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type>div {
  @apply mb-10;
}