---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={['px-5 w-full max-w-7xl mx-auto', className && className.trim()].filter(Boolean)}>
  <slot />
</div>
