---
---

<section id="donations" class="py-32 px-5 bg-foreground flex flex-col items-center justify-center">
  <p class="text-2xl tracking-wider text-center text-white">DONATIONS</p>

  <div class="relative text-center z-10 max-w-lg md:max-w-5xl mt-16">
    <h1 class="text-xl md:text-5xl text-white" style="line-height: 1.5">
      اَلَّذِيۡنَ يُنۡفِقُوۡنَ اَمۡوَالَهُمۡ بِالَّيۡلِ وَالنَّهَارِ سِرًّا وَّعَلَانِيَةً فَلَهُمۡ اَجۡرُهُمۡ عِنۡدَ رَبِّهِمۡ​ۚ وَلَا خَوۡفٌ عَلَيۡهِمۡ وَلَا هُمۡ يَحۡزَنُوۡنَ
    </h1>
    <p class="mt-10 text-white text-2xl">
      Those who spend their wealth [in Allāh's way] by night and by day, secretly and publicly - they will have their reward with their Lord. And no fear will there be concerning them, nor will they grieve.
    </p>
    <p class="mt-6 text-white text-xl italic">
      — Surah Baqarah, 2:274 (Saheeh International)
    </p>
  </div>

  <a
    href="https://donate.stripe.com/4gwcQdaxNavW9c4aEF"
    target="_blank"
    rel="noopener noreferrer"
    class="mt-12 text-primary font-medium bg-white border-2 border-white hover:border-white hover:bg-transparent hover:text-white px-8 py-3 transition-colors"
  >
    Donate
  </a>
</section>
